{% extends 'base.html' %} {% block container %}
<h2>Edit Your Reviews</h2>

<form method="POST" action="{{ url_for('edit_post') }}">
  <p>
    Enter your username:
    <input type="text" id="username" name="username"" />                                                                                     
  </p>                                                                                                                                       
  <input type="submit" name="enter-btn" value="Enter" />                                                                                     
</form>                                                                                                                                      
                                                                                                                                             
{% endblock %}  


<h2>My Reviews</h2>

<p>
    {% for doc in docs %}
    <div>
      <hr class="solid">
	<p class="post">
            Posted by {{doc.user}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
	</p>
	<p> <b>{{ doc.ride }}</b> </p>
	<p> <b>Ride Rating:</b> {{ doc.ride_rating }} </p>
	<p> <b>Comment:</b> {{ doc.ride_review }} </p>
	<br>
      <!--      <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('dele\
te',mongoi                                                                                          
d=doc._id)}}">Delete</a> -->
         <br>
    </div>
    {%endfor%}
</p>
